body {
    background-image: url("https://www.xmple.com/wallpaper/3d-cubes-grey-green-white-1920x1080-c3-20b2aa-d3d3d3-f0ffff-l-190-a-150-f-11.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
  <text-align : "center">
}

p {
  <text-align : "center">
}

h2 {
  <text-align:"center">
}

div {
  <text-align: "center">
}


.color-button {
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b7deed+0,71ceef+35,21b4e2+72,b7deed+100 */
background: #b7deed; /* Old browsers */
background: -moz-linear-gradient(top,  #b7deed 0%, #71ceef 35%, #21b4e2 72%, #b7deed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #b7deed 0%,#71ceef 35%,#21b4e2 72%,#b7deed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #b7deed 0%,#71ceef 35%,#21b4e2 72%,#b7deed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); /* IE6-9 */


