body {
    background-image: url("https://www.xmple.com/wallpaper/3d-cubes-grey-green-white-1920x1080-c3-20b2aa-d3d3d3-f0ffff-l-190-a-150-f-11.svg");
}

h1 {
  text-align : center;
}

p {
  text-align : center;
}

h2 {
    text-align: center;
}

div {
  text-align: center;
}

img {
    text-align:center;
}


