body {
  background-image: url("http://fanaru.com/kawaii/image/275906-kawaii-kawaii-	tumblr-galaxy.jpg");
}

h1 {
  color: #4c0682;
  text-align: center;
  font-family: "Courier New";
  border-style: solid;
}
