/*architects daughter font vv*/
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

body {
  background-image: url("http://www.publicdomainpictures.net/pictures/90000/velka/rainbow-stripes-background.jpg");
}


h1 {
  color: PaleGreen;
  text-align: center;
  font-family: "Amatic SC";
  border-style: solid;
}

h2 {
  color: LightCyan;
  text-align: center;
  font-family: "Architects Daughter";
  
}

div {
  text-align: center;
}

.color-button {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3c5bd+0,ea2803+27,ea2803+27,e86c57+50,ff6600+75,c72200+100 */
background: #f3c5bd; /* Old browsers */
background: -moz-linear-gradient(top,  #f3c5bd 0%, #ea2803 27%, #ea2803 27%, #e86c57 50%, #ff6600 75%, #c72200 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f3c5bd 0%,#ea2803 27%,#ea2803 27%,#e86c57 50%,#ff6600 75%,#c72200 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f3c5bd 0%,#ea2803 27%,#ea2803 27%,#e86c57 50%,#ff6600 75%,#c72200 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* IE6-9 */
}
