@font-face {
  font-family: Architects Daughter;
  src: url()}

body {
  background-image: url("http://www.publicdomainpictures.net/pictures/90000/velka/rainbow-stripes-background.jpg");
}


h1 {
  color: PaleGreen;
  text-align: center;
  font-family: "Amatic SC";
  border-style: solid;
}

h2 {
  color: LightCyan;
  text-align: center;
  font-family: "Architects Daughter";
  
}

div {
  text-align: center;
}
